* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'monseratt', sans-serif;
}

.app-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.app{
    background-color: rgb(243, 229, 36);
    background-image: linear-gradient(rgb(243, 195, 36), rgb(226, 81, 81));
    background-size: auto;
    background-position: bottom;
    transition: 0.4 ease-out;
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
}

.app.warm{
    background-image: url("./images/warm-background.jpg");
}

.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    // margin: 0 0 75px;

    .search-bar{
        display: block;
        text-align: center;
        width: 50%;
        height: 50px;
        appearance: none;
        outline: none;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 16px;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

        &:focus{
            background-color: rgba(255, 255, 255, 0.75);
            transition: ease-in-out .1s;
        }
        
    }
}
